
<div class="status-indicator {{status}}"></div>
<div class="text-wrapper">
  <strong>{{title}}</strong><br>
  {{description}}
</div>
<div class="overlay">
  <div class="status open">
    Abierto
  </div>
  <div class="status working">
    Iniado
  </div>
  <div class="status closed">
    Atendido
  </div>
</div>