<!-- <!DOCTYPE html>
<html>
<head>
  <title></title>
  
</head>
<body> -->
  <div style="font-family: Helvetica, Arial; padding: 1em; color: #333">
    <div style="border-top: 6px solid #B01800; border-bottom: 6px solid #B01800; padding: .5em;">
      <img src="http://www.solucionesconfiables.com.mx/img/logo.png" style="width: 100px;">
    </div>
    <div style="padding-top: 2em; font-size: 18px;">
      Hemos recibido su ticket!
    </div>
    <div style="padding-top: 2em;">
      En breve daremos soluci&oacute;n a la siguiente solicitud:
      <div style="padding: 1em; font-style: italic; font-size: 14px; color: #999;">
        "<strong><%= title %>.</strong><br><%= description %>"
      </div>
    </div>
    <div style="padding-top: 2em;">
      <u>DATOS DEL SOLICITANTE:</u>
      <div  style="padding-top: .5em;">
        <strong>Sucursal:</strong> <%= branch %>
      </div>
      <div  style="padding-top: .5em;">
        <strong>Nombre:</strong> <%= requester %>
      </div>
      <div  style="padding-top: .5em;">
        <strong>Tel&eacute;fono de contacto:</strong> <%= phone %>
      </div>
      <div  style="padding-top: .5em;">
        <strong>e-mail:</strong> <%= email %>
      </div>
    </div>
  </div>
<!-- </body>
</html> -->