
open-ticket-color = #F9023A
working-ticket-color = #FF8600
closed-ticket-color = #61D432

html, body, .panel
	height 100%
	width 100%
	
	background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2OcOXPm//T0dEYGKIAzMARgKjFUAABbTQgFjagJkwAAAABJRU5ErkJggg==');
	
#main-menu
	
	position fixed
	width 100%
	top 0
	left 0
	z-index 2
	box-shadow 0 1px 30px 5px #999
	background-color #444
	
	.btn-group
		width 100%
		
	.btn
		border-radius 0
		height 100%
		width 85%
		height 60px
		font-size 20px
		background-color #444
		border-color #333
		transition all .3s linear

		&:nth-child(2)
			font-size 40px
			padding-top 0
			width 15%
			
			&:hover
				background-color white
				color #FF0C4E
				border-color white
	
.panel
	margin-top 100px	
	border none
	box-shadow 0 1px 25px 1px #CCC
	background-color #444

.panel-body
	height 100%
	widht 100%
	padding 0
	background-color white
	
	ul
		height 100%
		margin 0
		padding 0
		overflow-y auto
		border none
	
	li
		position relative
		border none
		background-color bgcolor
		padding 0
		border-top 1px solid #eee
		list-style none
		cursor pointer
		min-height 50px
			
	
	.text-wrapper, .status-indicator
		display inline-block
		vertical-align top
	
	.text-wrapper
		padding .5em
		width 90%
		padding-left 30px
		
		small
			position absolute
			top 5px
			right 5px	

			
		
		
	.status-indicator
		position absolute
		height 100%
		width 20px
		color white
		cursor pointer
		
	h3
		font-size 18px
		margin .5em
		margin-left 0


.open
	background-color open-ticket-color

.working
	background-color working-ticket-color

.closed
	background-color closed-ticket-color
	
.overlay
	display none
	
.status
	position absolute
	top 0
	left 0
	width 33%
	height 100%
	opacity .9
	text-align center
	color white
	border-right 2px solid white
	cursor pointer
	line-height 50px
	font-weight bold

	
	&:nth-child(2)
		left 33%
	
	&:nth-child(3)
		left 66%
		border-right none

	
		

.badge-completed
	background-color #56D440
	
.badge-accepted
	background-color #68A2D4

#ticket-detail
	background white
	padding 1em

@media screen and (min-width: 1200px)
		
	#main-menu
		width 70%
		margin 0 15%
	
	.panel
		width 70%
		margin-left 15%
		margin-right 15%
		
	